* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--first-color: #8333df;
	--second-color: #d2c7be;
}

body {
	height: 100vh;

	/* font-family: 'Corinthia', cursive;
	font-family: 'Raleway', sans-serif; */
	
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(109.6deg, rgb(187, 173, 190) 11.2%, rgb(33, 123, 226) 91.1%);
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
	height: 120px;
}

.menu button,
.note-panel .save,
.note-panel .cancel {
	padding: 12px 25px;
	background: rgb(228, 220, 220);
	border: 1px solid #999;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.menu button:hover,
.note-panel .save:hover,
.note-panel .cancel:hover {
	background-color: #333;
	color: #ddd;
}

.icon {
	margin-right: 10px;
}
.fa-times {
	margin-right: 0px;
}
.add {
	margin-right: 20px;
}

.note-area {
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	padding: 20px;
}

.note {
	margin: 40px 20px;
	width: 240px;
	background-color: yellow;
	border: 1px solid black;
}

.note-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.06);
}
.note-header .delete-note {
	background: none;
	font-size: 22px;
	border: none;
	cursor: pointer;
}

.note-body {
	padding: 20px 15px;
	font-size: 14px;
}

.note-panel {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px 0;
	width: 600px;
	background-color: #fff;
	box-shadow: 0 0 10px black;
	border-radius: 5px;
}

.note-panel h2 {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.note-panel label {
	margin-bottom: 10px;
}

.note-panel #text,
.note-panel #category {
	margin-bottom: 20px;
	padding: 10px 20px;
	width: 100%;
	max-width: 85%;
	max-height: 500px;
}

.note-panel .error {
	margin-bottom: 20px;
	color: red;
	visibility: hidden;
}
